<div class="threads-container">
    <div class="threads-header">
        <div class="left-container">
            <span>Thread</span>
            <img src="assets/img/workspace/tag_lilac.png">
            <span>Channel</span>
        </div>

        <div class="close-container" (click)="closeThread()">
            <img src="assets/img/workspace/close.png">
        </div>
    </div>

    <!-- second section -->
    <div class="messages-display-container">
        <!-- Antworten der Mitglieder -->
        <div class="message-box">
            <div class="message-content-container" [class.bg-lilac]="mouseOvered" (mouseover)="mouseOvered=true"
                (mouseout)="mouseOvered=false">
                <img src="assets/img/workspace/character.png">

                <div class="message-infos-container">
                    <div class="first-row">
                        <span>Name Nachname</span>
                        <span>00:00 Uhr</span>
                    </div>

                    <div class="second-row" [class.bg-white]="mouseOvered">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Minima tenetur nostrum consequuntur quibusdam porro et quae a animi? Fugiat
                        totam aspernatur voluptas adipisci pariatur, dignissimos rerum voluptatem cum non earum.
                    </div>
                </div>
            </div>

            <div class="answer-container">
                <div class="answer">
                    <span>0 Antworten</span>
                </div>

                <div class="space"></div>

                <div class="line">
                    <div></div>
                </div>
            </div>
        </div>

        <!-- Antworten der Mitglieder -->
        <div class="message-box">
            <div class="message-content-container" [class.bg-lilac]="mouseOvered" (mouseover)="mouseOvered=true"
                (mouseout)="mouseOvered=false">
                <img src="assets/img/workspace/character.png">

                <div class="message-infos-container">
                    <div class="first-row">
                        <span>Name Nachname</span>
                        <span>00:00 Uhr</span>
                    </div>

                    <div class="second-row" [class.bg-white]="mouseOvered">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Minima tenetur nostrum consequuntur quibusdam porro et quae a animi? Fugiat
                        totam aspernatur voluptas adipisci pariatur, dignissimos rerum voluptatem cum non earum.
                    </div>
                </div>
            </div>
        </div>

        <!-- Antworten des Users -->
        <div class="message-box">
            <div class="user-message-content-container">
                <div class="user-message-infos-container">
                    <div class="user-first-row">
                        <span>00:00 Uhr</span>
                        <span>{{userName}}</span>
                    </div>

                    <div class="user-second-row">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
                        tenetur nostrum consequuntur quibusdam porro et quae a animi?
                    </div>
                </div>

                <img src="assets/img/workspace/character.png">
            </div>
        </div>

        <!-- third section -->
        <div class="third-section-container">
            <div class="send-message-container">
                <textarea placeholder="Antworten..."></textarea>

                <div class="like-send-container">
                    <div></div>

                    <img src="assets/img/workspace/send.png">
                </div>
            </div>
        </div>
    </div>