<div class="header-container" [class.p20]="pmMode || dmMode || chMode || chrMode" [class.space]="pmMode || dmMode || chMode || chrMode">
    <div class="header-img-container" *ngIf="!chrMode" [class.w20]="pmMode || dmMode || chMode || chrMode" [class.w50]="pmMode || dmMode || chMode || chrMode">
        <img src="assets/img/header/logo.png">
        <img src="assets/img/header/phrase.png">
        <!-- <img src="assets/img/header/show-menu.png" class="show-menu-pic" *ngIf="workplaceMode" [class.img-lilac]="mouseOveredTwo" (mouseover)="mouseOveredTwo=true" (mouseout)="mouseOveredTwo=false"> -->
    </div>

    <div class="header-img-container-responsive" (click)="backToSidenav()" *ngIf="chrMode">
        <img src="assets/img/header/back.png">
        <img src="assets/img/workspace/logo.png">
        <span>Coding</span>
    </div>

    <div class="header-link-container" *ngIf="logoMode">
        <span>Neu bei MySlack?</span>
        <a href="#" routerLink="signUp">Konto erstellen</a>
    </div>

    <div class="searchfield-container" *ngIf="pmMode || dmMode || chMode || chrMode">
        <input type="search" placeholder="search a member" [(ngModel)]="find" (keyup.enter)="openSearchPopup()">
        <div class="img-container">
            <img src="assets/img/header/search.png" (click)="openSearchPopup()">
        </div>
    </div>

    <div class="info-container" *ngIf="pmMode || dmMode || chMode || chrMode" [class.font-lilac]="mouseOvered"
        (mouseover)="mouseOvered=true" (mouseout)="mouseOvered=false" (click)="openPopup()">
        <span>{{userName}}</span>
        <img class="avatar" src={{userPic}}>
        <img src="assets/img/header/arrow_down.png" [class.img-lilac]="mouseOvered">
    </div>
</div>

<div class="pop-up-logout" *ngIf="logoutPopup" (click)="closePopup()">
    <div class="logout-profile-box">
        <img src="assets/img/header/close.png" (click)="closePopup()">
        <div (click)="openProfilePopup()"><span>Profil</span></div>
        <div (click)="logout()" *ngIf="pmMode || dmMode || chMode || chrMode"><span>Logout</span></div>
    </div>
</div>

<div class="pop-up-profile" *ngIf="profilePopup">
    <div class="profile-box">
        <div class="first-row">
            <span>Profil</span>
            <div (click)="closeProfilePopup()"><img src="assets/img/workspace/close.png"></div>
        </div>

        <div class="second-row">
            <img src={{userPic}}>
        </div>

        <div class="third-row">
            <span>{{userName}}</span>
            <!-- <span>Bearbeiten</span> -->
        </div>

        <div class="fourth-row">
            <div [class.c-green]="active"></div>
            <span [class.s-green]="active">{{userStatus}}</span>
        </div>

        <div class="fith-row">
            <img src="assets/img/workspace/mail.png">
            <span>E-Mail-Adresse</span>
        </div>

        <div class="sixth-row">
            <span>{{userMail}}</span>
        </div>
    </div>
</div>

<!-- Pop-up -->
<div class="search-pop-up" *ngIf="searchPopup">
    <div class="search-profile-box">
        <div class="search-first-row">
            <div class="search-firstrow-left-side">
                <!-- <img src="assets/img/workspace/tag.png"> -->
                <span>Search Results</span>
            </div>

            <div class="search-firstrow-right-side" (click)="closeSearchPopup()"><img
                    src="assets/img/workspace/close.png"></div>
        </div>

        <div class="search-second-row">
            <ul *ngFor="let result of results">
                <li>{{result.name}}
                    <img src={{result.pic}}>
                </li>

                <table>
                    <tr>
                        <td>Status:</td>
                        <td>{{result.status}}</td>
                    </tr>

                    <tr>
                        <td>Mail:</td>
                        <td>{{result.mail}}</td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
</div>