<div class="header-container" [class.p20]="workspaceMode">
    <div class="header-img-container" [class.w20]="workspaceMode">
        <img src="assets/img/header/logo.png">
        <img src="assets/img/header/phrase.png">
        <img src="assets/img/header/show-menu.png" class="show-menu-pic" *ngIf="workspaceMode" [class.img-lilac]="mouseOveredTwo" (mouseover)="mouseOveredTwo=true" (mouseout)="mouseOveredTwo=false">
    </div>

    <div class="header-link-container" *ngIf="logoMode">
        <span>Neu bei MySlack?</span>
        <a href="#" routerLink="signUp">Konto erstellen</a>
    </div>

    <div class="searchfield-container" *ngIf="workspaceMode">
        <input type="search" placeholder="Code learning durchsuchen">
        <div class="img-container">
            <img src="assets/img/header/search.png">
        </div>
    </div>

    <div class="info-container" *ngIf="workspaceMode" [class.font-lilac]="mouseOvered" (mouseover)="mouseOvered=true" (mouseout)="mouseOvered=false">
        <span>Vorname Nachname</span>
        <img class="avatar" src="assets/img/header/avatar.png">
        <img src="assets/img/header/arrow_down.png" [class.img-lilac]="mouseOvered">
    </div>
</div>
