<div class="header-container" [class.p20]="workspaceMode">
    <div class="header-img-container" [class.w20]="workspaceMode">
        <img src="assets/img/header/logo.png">
        <img src="assets/img/header/phrase.png">
        <img src="assets/img/header/show-menu.png" class="show-menu-pic" *ngIf="workspaceMode" [class.img-lilac]="mouseOveredTwo" (mouseover)="mouseOveredTwo=true" (mouseout)="mouseOveredTwo=false">
    </div>

    <div class="header-link-container" *ngIf="logoMode">
        <span>Neu bei MySlack?</span>
        <a href="#" routerLink="signUp">Konto erstellen</a>
    </div>

    <div class="searchfield-container" *ngIf="workspaceMode">
        <input type="search" placeholder="Code learning durchsuchen">
        <div class="img-container">
            <img src="assets/img/header/search.png">
        </div>
    </div>

    <div class="info-container" *ngIf="workspaceMode" [class.font-lilac]="mouseOvered" (mouseover)="mouseOvered=true" (mouseout)="mouseOvered=false" (click)="openPopup()">
        <span>{{userName}}</span>
        <img class="avatar" src="assets/img/header/woman.png">
        <img src="assets/img/header/arrow_down.png" [class.img-lilac]="mouseOvered">
    </div>
</div>

<div class="pop-up-logout" *ngIf="logoutPopup" (click)="closePopup()">
    <div class="logout-profile-box">
        <div (click)="openProfilePopup()"><span>Profil</span></div>
        <div (click)="logout()" *ngIf="workspaceMode"><span>Logout</span></div>
    </div>
</div>

<div class="pop-up-profile" *ngIf="profilePopup">
    <div class="profile-box">
        <div class="first-row">
            <span>Profil</span>
            <div (click)="closeProfilePopup()"><img src="assets/img/workspace/close.png"></div>
        </div>

        <div class="second-row">
            <img src="assets/img/workspace/woman.png">
        </div>

        <div class="third-row">
            <span>{{userName}}</span>
            <span>Bearbeiten</span>
        </div>

        <div class="fourth-row">
            <div></div>
            <span>Status</span>
        </div>

        <div class="fith-row">
            <img src="assets/img/workspace/mail.png">
            <span>E-Mail-Adresse</span>
        </div>

        <div class="sixth-row">
            <span>{{userMail}}</span>
        </div>
    </div>
</div>
