.footer-container {
    height: 45px;
    margin-top: 50px;
}

.span-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(104, 104, 104, 1);
    font-weight: 400;
    font-size: 18px;

    @media(max-width: 511px) {
        font-size: 14px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-right: 20px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: rgba(68, 77, 242, 1);
        }
    }
}