<!-- <app-welcome-animation></app-welcome-animation> -->

<div class="content-container">
    <div class="form-container">
        <span>Anmeldung</span>

        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>

        <form>
            <div><input placeholder="beispielname@email.com" class="input-mail" name="mail" [(ngModel)]="mail"></div>
            <div><input type="password" placeholder="Passwort" class="input-lock" name="password" [(ngModel)]="password"></div>
        </form>

        <a href="#" routerLink="password">Passwort vergessen?</a>
        
        <div class="btn-container">
            <button (click)="login()">Anmelden</button>
            <button (click)="guestLogin()">Gäste-Login</button>
        </div>
    </div>
</div>

<div class="login-pop-up" *ngIf="popUp">
    <div>
        Anmeldung fehlgeschlagen!
    </div>
</div>