<!-- <app-welcome-animation></app-welcome-animation> -->

<div class="content-container">
    <div class="form-container">
        <span>Anmeldung</span>

        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>

        <form>
            <div><input placeholder="beispielname@email.com" class="input-mail"></div>
            <div><input placeholder="Passwort" class="input-lock"></div>
        </form>

        <a href="#" routerLink="password">Passwort vergessen?</a>
        
        <div class="btn-container">
            <button>Anmelden</button>
            <button routerLink="workspace">Gäste-Login</button>
        </div>
    </div>
</div>