<!-- <app-welcome-animation></app-welcome-animation> -->

<app-header></app-header>

<div class="content-container">
    <div class="form-container">
        <span>Anmeldung</span>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        <form>
            <input placeholder="beispielname@email.com">
            <input placeholder="Passwort">
        </form>
        <a href="#">Passwort vergessen?</a>
        <div class="btn-container">
            <button>Anmelden</button>
            <button>Gäste-Login</button>
        </div>
    </div>
</div>