.messages-container {
    height: 95%;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 35px;
    margin-right: 20px;
    position: relative;
    overflow-y: hidden;
}


// first section
.messages-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    // background-color: aqua;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 1);
}

.left-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;

    img {
        &:first-child {
            width: 22px;
            height: 23px;
            object-fit: contain;
            margin-right: 15px;
        }
    }

    span {
        font-weight: 700;
        font-size: 24px;
        margin-right: 15px;
    }
}

.bg-font-lilac {
    background-color: rgba(236, 238, 254, 1);
    color: rgba(83, 90, 241, 1);
}

.imgs-lilac {
    filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
}

.right-container {
    display: flex;
    align-items: center;
    padding-right: 30px;
    // background-color: yellow;
}

.member-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;

    span {
        font-weight: 600;
        font-size: 20px;
        margin-left: 10px;
    }
}

.member-ring {
    height: 43px;
    width: 43px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;

    img {
        border-radius: 100%;
        height: 35px;
        width: 35px;
        object-fit: contain;
    }
}

.add-member-img-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 238, 254, 1);
    border-radius: 100%;
    cursor: pointer;

    img {
        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}


// second section
.messages-display-container {
    height: 470px;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: white;
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(121, 126, 243, 1);
    }

    &::-webkit-scrollbar-button {
        background-color: white;
    }
}

.message-box {
    display: flex;
    flex-direction: column;
    // background-color: aqua;
}

.line-date-container {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(173, 176, 217, 1);
}

.date-bubble {
    width: auto;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: -16px;
}

.message-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 100%;
        margin-right: 30px;
    }
}

.message-infos-container {
    display: flex;
    flex-direction: column;
}

.first-row {
    margin-bottom: 8px;

    span {
        &:first-child {
            font-weight: 700;
            font-size: 18px;
            margin-right: 20px;
        }

        &:last-child {
            font-weight: 400;
            font-size: 14px;
            color: rgba(104, 104, 104, 1);
        }
    }
}

.second-row {
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 8px;
    background-color: rgba(236, 238, 254, 1);
    font-weight: 400;
    font-size: 18px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bg-white {
    background-color: white !important;
}

.black-font {
    color: black !important;
}

.bg-lilac {
    background-color: rgba(236, 238, 254, 1);
}

.third-row {
    a {
        text-decoration: none;
        color: rgba(83, 90, 241, 1);
        font-size: 18px;
        font-weight: 400;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }

    span {
        font-weight: 400;
        font-size: 14px;
        color: rgba(104, 104, 104, 1);
    }
}

.user-message-content-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 100%;
        margin-left: 30px;
    }
}

.user-message-infos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-first-row {
    margin-bottom: 8px;

    span {
        &:last-child {
            font-weight: 700;
            font-size: 18px;

        }

        &:first-child {
            font-weight: 400;
            font-size: 14px;
            color: rgba(104, 104, 104, 1);
            margin-right: 20px;
        }
    }
}

.user-second-row {
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 8px;
    background-color: rgba(121, 126, 243, 1);
    font-weight: 400;
    font-size: 18px;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.user-third-row {
    a {
        text-decoration: none;
        color: rgba(83, 90, 241, 1);
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }

    span {
        font-weight: 400;
        font-size: 14px;
        color: rgba(104, 104, 104, 1);
        margin-right: 20px;
    }
}

// third section
.third-section-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    background-color: white;
}

.send-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    background-color: white;

    &:hover {
        border: 1px solid #535AF1;
    }

    textarea {
        width: 95%;
        margin-bottom: 10px;
        border: none;
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 400;
        resize: none;


        &::placeholder {
            font-family: 'Nunito';
            font-size: 16px;
            font-weight: 400;
        }

        &:focus {
            outline: none;
        }
    }
}

.like-send-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 20px;
        object-fit: contain;

        &:hover {
            opacity: 0.6;
        }
    }
}

.newChannel-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(236, 238, 254, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.newChannel-profile-box {
    width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0px 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 0px 2px -2px rgba(0, 0, 0, 0.2);
    // font-weight: 600;
    // font-size: 22px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 140px;
    margin-right: 20px;

    input,
    textarea {
        width: 95%;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        margin-bottom: 30px;
        padding: 10px 20px;
        height: 20px;
        resize: none;
        font-weight: 400;
        font-size: 16px;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            font-family: 'Nunito';
        }

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 40px !important;
    }
}

.channel-first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.firstrow-left-side {
    span {
        font-weight: 700;
        font-size: 24px;
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 15px;
    }

}

.firstrow-right-side {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        width: 13px;
        height: 13px;
        object-fit: contain;
        cursor: pointer;

        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.channel-second-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;

    span {
        &:last-child {
            font-weight: 600;
            font-size: 18px;
            color: rgba(83, 90, 241, 1);
            cursor: pointer;

            &:hover {
                font-weight: bold;
                color: rgba(68, 77, 242, 1);
            }
        }
    }
}

.channel-fourth-row {
    margin-bottom: 10px;

    span {
        &:first-child {
            font-weight: 700;
            font-size: 18px;
            margin-right: 8px;
        }

        &:last-child {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.btn-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

    button {
        height: 45px;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        background-color: rgba(68, 77, 242, 1);
        color: white;
        border: none;

        &:hover {
            opacity: 0.6;
        }
    }
}