<div class="messages-container">
    <div class="messages-header">
        <div class="left-container">
            <img src="assets/img/workspace/tag.png">
            <span>Channel</span>
            <img src="assets/img/workspace/arrow_down.png">
        </div>

        <div class="right-container">
            <div class="member-container">
                <!-- sollen erstellt werden mit versch. Bildern -->
                <div class="member-ring">
                    <img src="assets/img/workspace/character.png">
                </div>
                <div class="member-ring">
                    <img src="assets/img/workspace/character.png">
                </div>
                <div class="member-ring">
                    <img src="assets/img/workspace/character.png">
                </div>
            </div>

            <!-- Anzahl der Mitglieder im Channel -->
            <span>0</span>

            <img src="assets/img/workspace/add_member.png">
        </div>
    </div>

    <div class="messages-display-container">
        <!-- Antworten der Mitglieder -->
        <div>
            <div></div>

            <div>
                <img>

                <div>
                    <div>
                        <span>Name Nachname</span>
                        <span>Uhrzeit</span>
                    </div>

                    <div>Nachricht</div>

                    <div>
                        <a>0 Antworten</a>
                        <span>Letzte Antwort Uhrzeit</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="send-message-container">
        <!-- Placeholder soll namen des Channels tragen -->
        <textarea placeholder="Nachricht an # Channel"></textarea>

        <div class="like-send-container">
            <div></div>

            <img src="assets/img/workspace/send.png">
        </div>
    </div>
</div>