.user-message-content-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 100%;
        margin-left: 30px;

        @media(max-width: 1400px) {
            width: 60px;
            height: 60px;
        }
    }
}

.user-message-infos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-first-row {
    margin-bottom: 8px;

    span {
        &:last-child {
            font-weight: 700;
            font-size: 18px;

            @media(max-width: 1400px) {
                font-size: 18px;
            }
        }

        &:first-child {
            font-weight: 400;
            font-size: 14px;
            color: rgba(104, 104, 104, 1);
            margin-right: 20px;
        }
    }
}

.user-second-row {
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 8px;
    background-color: rgba(121, 126, 243, 1);
    font-weight: 400;
    font-size: 18px;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

    @media(max-width: 1400px) {
        font-size: 16px;
    }
}

.user-third-row {
    @media(max-width: 1199px) {
        display: none;
    }

    a {
        text-decoration: none;
        color: rgba(83, 90, 241, 1);
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }

    span {
        font-weight: 400;
        font-size: 14px;
        color: rgba(104, 104, 104, 1);
        margin-right: 20px;
    }
}

.user-third-row-responsive {
    @media(min-width: 1199px) {
        display: none;
    }

    a {
        text-decoration: none;
        color: rgba(83, 90, 241, 1);
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        @media(max-width: 1400px) {
            font-size: 16px;
        }

        &:hover {
            font-weight: bold;
        }
    }

    span {
        font-weight: 400;
        font-size: 14px;
        color: rgba(104, 104, 104, 1);
        margin-right: 20px;
    }

}

// third section
.third-section-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    background-color: white;
}

.send-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    background-color: white;

    &:hover {
        border: 1px solid #535AF1;
    }

    textarea {
        width: 95%;
        margin-bottom: 10px;
        border: none;
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 400;
        resize: none;


        &::placeholder {
            font-family: 'Nunito';
            font-size: 16px;
            font-weight: 400;
        }

        &:focus {
            outline: none;
        }
    }
}

.like-send-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    img {
        width: 20px;
        object-fit: contain;

        &:hover {
            opacity: 0.6;
        }
    }
}

.newChannel-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(236, 238, 254, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.newChannel-profile-box {
    width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0px 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 0px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    margin-top: 140px;
    margin-right: 20px;
    margin-left: 20px;

    @media(max-width: 1199px) {
        margin-top: 270px;
    }

    input,
    textarea {
        width: 95%;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        margin-bottom: 30px;
        padding: 10px 20px;
        height: 20px;
        resize: none;
        font-weight: 400;
        font-size: 16px;

        @media(max-width: 1199px) {
            width: 85%;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            font-family: 'Nunito';
        }

        &:focus {
            outline: none;
            font-family: 'Nunito';
        }
    }

    textarea {
        height: 40px !important;
    }
}

.channel-first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.firstrow-left-side {
    span {
        font-weight: 700;
        font-size: 24px;
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 15px;
    }

}

.firstrow-right-side {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        width: 13px;
        height: 13px;
        object-fit: contain;
        cursor: pointer;

        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.channel-second-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;

    span {
        &:last-child {
            font-weight: 600;
            font-size: 18px;
            color: rgba(83, 90, 241, 1);
            cursor: pointer;

            &:hover {
                font-weight: bold;
                color: rgba(68, 77, 242, 1);
            }
        }
    }
}

.channel-fourth-row {
    margin-bottom: 10px;

    span {
        &:first-child {
            font-weight: 700;
            font-size: 18px;
            margin-right: 8px;
        }

        &:last-child {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.btn-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

    button {
        height: 45px;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        background-color: rgba(68, 77, 242, 1);
        color: white;
        border: none;

        &:hover {
            opacity: 0.6;
        }
    }
}