<div class="content-container">
    <app-sidenav class="sidenav" (showDirectMessages)="showDirectMessagesSection($event)" (showChannelMessages)="hideChannelMessagesSection($event)" (showPrivateMessages)="showPrivateMessagesSection($event)" (showNewMessage)="showNewMessageSection($event)" (showThreadSection)="hideThreadSection($event)"></app-sidenav>

    <app-channel-messages class="messages" (showThreadsSection)="setVariableTrue($event)" *ngIf="showChannelMessages"></app-channel-messages>
    <app-direct-messages class="messages" *ngIf="showDirectMessages"></app-direct-messages>
    <app-private-messages class="messages" *ngIf="showPrivateMessages"></app-private-messages>
    <app-new-message class="messages" *ngIf="showNewMessage"></app-new-message>

    <app-threads class="threads" (showThreadsSection)="setVariableFalse($event)" *ngIf="showThreadsSection"></app-threads>
</div>
