<!-- <div class="content-container">
    <app-sidenav></app-sidenav>

    <div class="messages-container">
        first section
        <div class="messages-header">
            <div class="left-container">
                <img src={{userpic}}>
                <div class="active-container">
                    <div></div>
                </div>
                <span>{{username}}</span> <span>(Du)</span>
            </div>

        </div>

        second section
        <div class="messages-display-container">
            <div class="message-box" *ngFor="let notes of allNotes">
                <div class="line-date-container">
                    <div class="line"></div>
                    <div class="date-bubble">{{notes.noteDate}}</div>
                </div>

                <div class="message-content-container">
                    <img src={{userpic}}>

                    <div class="message-infos-container">
                        <div class="first-row">
                            <span>{{notes.noteWriter}}</span>
                            <span>{{notes.noteTime}} Uhr</span>
                        </div>

                        <div class="second-row">{{notes.noteText}}</div>
                    </div>
                </div>
            </div>
        </div>

        Info
        <div class="info-container">
            <div><b>Dieser Raum ist nur für dich da.</b> Mache dir Notizen, liste deine To-dos auf oder bewahre Links
                und
                Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen</div>
        </div>

        third section
        <div class="third-section-container">
            <div class="send-message-container">
                <textarea placeholder="Notiz" name="notes" [(ngModel)]="privateMessages.messageText"></textarea>

                <div class="like-send-container">
                    <div></div>

                    <img src="assets/img/workspace/send.png" (click)="createNotes()">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="messages-container">
    <!-- first section -->
    <div class="messages-header">
        <div class="left-container">
            <img src={{userPic}}>
            <div class="active-container">
                <div></div>
            </div>
            <span>{{userName}}</span> <span>(Du)</span>
        </div>

    </div>

    <!-- second section -->
    <div class="messages-display-container">
        <div class="message-box" *ngFor="let notes of allNotes">
            <div class="line-date-container">
                <div class="line"></div>
                <div class="date-bubble">{{notes.noteDate}}</div>
            </div>

            <div class="message-content-container">
                <img src={{userPic}}>

                <div class="message-infos-container">
                    <div class="first-row">
                        <span>{{notes.noteWriter}}</span>
                        <span>{{notes.noteTime}} Uhr</span>
                    </div>

                    <div class="second-row">{{notes.noteText}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Info -->
    <div class="info-container">
        <div><b>Dieser Raum ist nur für dich da.</b> Mache dir Notizen, liste deine To-dos auf oder bewahre Links
            und
            Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen</div>
    </div>

    <!-- third section -->
    <div class="third-section-container">
        <div class="send-message-container">
            <textarea placeholder="Notiz" name="notes" [(ngModel)]="privateMessages.messageText"></textarea>

            <div class="like-send-container">
                <div></div>

                <img src="assets/img/workspace/send.png" (click)="createNotes()">
            </div>
        </div>
    </div>
</div>
