<div class="messages-container">
    <!-- first section -->
    <div class="messages-header">
        <div class="left-container">
            <img src="assets/img/workspace/woman.png">
            <div class="active-container">
                <div></div>
            </div>
            <span>{{userName}}</span> <span>(Du)</span>
        </div>

    </div>

    <!-- second section -->
    <div class="messages-display-container">
        <div class="message-box">
            <div class="line-date-container">
                <div class="line"></div>
                <div class="date-bubble">Montag, 01 Januar</div>
            </div>

            <div class="message-content-container" [class.bg-lilac]="mouseOvered" (mouseover)="mouseOvered=true"
                (mouseout)="mouseOvered=false">
                <img src="assets/img/workspace/woman.png">

                <div class="message-infos-container">
                    <div class="first-row">
                        <span>{{userName}}</span>
                        <span>00:00 Uhr</span>
                    </div>

                    <div class="second-row" [class.bg-white]="mouseOvered">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Minima tenetur nostrum consequuntur quibusdam porro et quae a animi? Fugiat
                        totam aspernatur voluptas adipisci pariatur, dignissimos rerum voluptatem cum non earum.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Info -->
    <div class="info-container">
        <div><b>Dieser Raum ist nur für dich da.</b> Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen</div>
    </div>

    <!-- third section -->
    <div class="send-message-container">
        <textarea placeholder="Notiz" name="notes" [(ngModel)]="privateMessages.messageText"></textarea>

        <div class="like-send-container">
            <div></div>

            <img src="assets/img/workspace/send.png" (click)="createNotes()">
        </div>
    </div>
</div>