<div class="content-container">
    <div class="form-container">
        <div class="title-container">
            <div>
                <img src="assets/img/login/arrow_back.png" routerLink="password">
            </div>

            <div>
                <span>Passwort zurücksetzen</span>
            </div>

            <div></div>
        </div>

        <form (submit)="resetPassword()" ngNativeValidate>
            <div><input required type="password" minlength="8" placeholder="Neues Passwort" name="newpasswordOne"
                    [(ngModel)]="newpasswordOne"></div>
            <div><input required type="password" minlength="8" placeholder="Neues Passwort bestätigen" name="newpasswordTwo"
                    [(ngModel)]="newpasswordTwo"></div>
            <div class="btn-container">
                <button [disabled]="disabled" [class.disabled]="disabled">Passwort ändern</button>
            </div>
        </form>
    </div>
</div>

<div class="newpassword-pop-up" *ngIf="popUp">
    <div>
        Passwort erfolgreich geändert!
    </div>
</div>