<div class="content-container">
    <div class="form-container">
        <div class="title-container">
            <div>
                <img src="assets/img/login/arrow_back.png" routerLink="password">
            </div>

            <div>
                <span>Passwort zurücksetzen</span>
            </div>

            <div></div>
        </div>

        <form>
            <input placeholder="Neues Passwort">
            <input placeholder="Neues Passwort bestätigen">
        </form>
        
        <div class="btn-container">
            <button>Passwort ändern</button>
        </div>
    </div>
</div>
