<div class="impressum-container">
    <div class='impressum'>
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Sarah Lucia Zimmermann-Schmutzler <br>
            Reinhold-Becker-Straße 13<br>
            01277 Dresden <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>
            Sarah Lucia Zimmermann-Schmutzler<br>
        </p>
        <p><strong>Kontakt:</strong> <br>
            Telefon: +49-017657751908<br>
            E-Mail: <a href='mailto:sarah.zimmermannschmutzler@gmail.com'>sarah.zimmermannschmutzler@gmail.com</a><br></p><br>
        Website Impressum von <a href="https://www.impressum-generator.de">impressum-generator.de</a>
    </div>
</div>