<div class="content-container">
    <div class="form-container">
        <div class="title-container">
            <div>
                <img src="assets/img/login/arrow_back.png" routerLink="/">
            </div>

            <div>
                <span>Konto erstellen</span>
            </div>

            <div></div>
        </div>

        <span>Mit deinem Namen und deiner E-Mail-Adresse erstellst du dein neues MySlack-Konto.</span>

        <form>
            <div><input placeholder="Name und Nachname"></div>
            <div><input placeholder="beispielname@email.com"></div>
            <div><input placeholder="Passwort"></div>
        </form>
        
        <div class="btn-container">
            <button>Weiter</button>
        </div>
    </div>
</div>