.content-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
    box-sizing: border-box;
    padding-left: 75px;
    padding-right: 75px;
}

.form-container {
    background-color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

    span {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 45px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;



        input {
            background-color: rgba(236, 238, 254, 1);
            border: none;
            border-radius: 20px;
            padding: 18px 75px;
            height: 30px;
            margin-bottom: 40px;
            background-repeat: no-repeat;
            background-position: 32px 20px;
            cursor: pointer;
            width: 75%;

            &:hover {
                border: 1px solid #ADB0D9;
            }

            &::placeholder {
                font-size: 18px;
            }

            &:focus {
                outline: none;
            }
        }
    }

    a {
        font-family: 'Figtree';
        font-weight: 400;
        font-size: 18px;
        color: rgba(121, 126, 243, 1);
        text-decoration: none;
        cursor: pointer;
        padding: 8px 10px;

        &:hover {
            border-radius: 20px;
            background-color: rgba(236, 238, 254, 1);
            color: rgba(68, 77, 242, 1);
        }
    }
}

.input-container {
    height: 105px
}

.input-person {
    background-image: url('^assets/img/login/person.png');
}

.input-mail {
    background-image: url('^assets/img/login/mail.png');
}

.input-lock {
    background-image: url('^assets/img/login/lock.png');
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

    div {
        &:first-child {
            width: 5%;
            height: 30px;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #ECEEFE;
            }

            img {
                &:hover {
                    filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
                }
            }
        }

        &:nth-child(2) {
            width: 90%;
            display: flex;
            justify-content: center;

            span {
                font-weight: 700;
                font-size: 46px;
                color: rgba(68, 77, 242, 1);
                margin-bottom: 0;
            }
        }

        &:last-child {
            width: 5%;
        }
    }
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        height: 50px;
        border-radius: 20px;
        padding: 12px 25px;
        font-weight: 400;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        background-color: rgba(68, 77, 242, 1);
        color: white;
        border: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

.disabled {
    background-color: grey !important;
    color: white !important;
    cursor: default !important;

    &:hover {
        opacity: 1 !important;
    }
}

.sign-up-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(236, 238, 254, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow-x: hidden;

    div {
        background-color: rgba(68, 77, 242, 1);
        color: white;
        font-weight: 700;
        font-size: 28px;
        padding: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 30px;
        margin-right: 100px;
        animation: flyIn 1s ease-in forwards;
    }
}

@keyframes flyIn {
    from {
        margin-right: -400px
    }

    to {
        margin-right: 100px;
    }
}