<div class="content-container">
    <div class="form-container">
        <div class="title-container">
            <div>
                <img src="assets/img/login/arrow_back.png" routerLink="/">
            </div>

            <div>
                <span>Konto erstellen</span>
            </div>

            <div></div>
        </div>

        <span>Mit deinem Namen und deiner E-Mail-Adresse erstellst du dein neues MySlack-Konto.</span>

        <form (submit)="registerUser()" ngNativeValidate>
            <div class="input-container"><input required pattern="[A-Za-z ]+" placeholder="Vor- und Nachname" class="input-person" name="name" [(ngModel)]="user.name" [(ngModel)]="name"></div>
            <div class="input-container"><input required type="email" placeholder="name@mail.de" class="input-mail" name="mail" [(ngModel)]="mail" [(ngModel)]="user.mail"></div>
            <div class="input-container"><input required type="password" minLength="8" placeholder="Passwort" class="input-lock" name="password" [(ngModel)]="password"></div>
            <div class="btn-container">
                <button type="submit" [disabled]="form.invalid" [class.disabled]="form.invalid">Weiter</button>
            </div>
        </form>
    </div>
</div>

<div class="sign-up-pop-up" *ngIf="popUp">
    <div>
        Konto erfolgreich erstellt!
    </div>
</div>