<div class="content-container">
    <div class="form-container">
        <div class="title-container">
            <div>
                <img src="assets/img/login/arrow_back.png" routerLink="/">
            </div>

            <div>
                <span>Passwort zurücksetzen</span>
            </div>

            <div></div>
        </div>

        <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

        <form (submit)="sendMail()" ngNativeValidate>
            <div><input placeholder="beispielname@email.com" required name="mail" [(ngModel)]="mail" type="email"></div>
            
            <span class="text">Wir senden Ihnen eine E-Mail zu, über die Sie Ihr Passwort ändern können.</span>

            <div class="btn-container">
                <button [disabled]="disabled" [class.disabled]="disabled">E-Mail senden</button>
            </div>
        </form>
    </div>
</div>

<div class="sendmail-pop-up" *ngIf="popUp">
    <div>
        <img src="assets/img/login/send.png">E-Mail gesendet
    </div>
</div>