<div class="content-container">
    <div class="form-container">
        <div class="title-container">
            <div>
                <img src="assets/img/login/arrow_back.png" routerLink="/">
            </div>

            <div>
                <span>Passwort zurücksetzen</span>
            </div>

            <div></div>
        </div>

        <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

        <form>
            <div><input placeholder="beispielname@email.com"></div>
        </form>

        <span class="text">Wir senden Ihnen eine E-Mail zu, über die Sie Ihr Passwort ändern können.</span>
        
        <div class="btn-container">
            <button>E-Mail senden</button>
        </div>
    </div>
</div>
