<div class="messages-container">
    <!-- first section -->
    <div class="messages-header">
        <div class="left-container">
            <span>Neue Nachricht</span>
            <input placeholder="An: #channel oder @jemand oder E-Mail-Adresse">
        </div>

    </div>

    <!-- second section -->
    <div class="messages-display-container">
    </div>

    <!-- third section -->
    <div class="send-message-container">
        <textarea placeholder="Schreibe eine neue Nachricht"></textarea>

        <div class="like-send-container">
            <div></div>

            <img src="assets/img/workspace/send.png">
        </div>
    </div>
</div>
