.sidenav-container {
    height: 95%;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 90px;
    // background-color: aqua;

    span {
        font-weight: 700;
        font-size: 20px;
    }
}

.edit-img-container {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;

        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 620px;
    overflow-y: hidden;
}

.channel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.channel-content-left {
    display: flex;
    align-items: center;

    &:hover {
        filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
    }
}

.channel-row-container {
    // width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        margin-right: 10px;
    }

    div {
        font-weight: 700;
        font-size: 18px;
    }
}

.rotate {
    transform: rotate(270deg);
    margin-right: 25px;
}

.rotate-back {
    transform: rotate(0deg);
}

.add-img-container {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
        ;
    }

    img {
        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.direct-content {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
    }
}

.direct-row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        margin-right: 10px;
    }

    div {
        font-weight: 700;
        font-size: 18px;
    }
}

.hide-channel-container {
    // background-color: aqua;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    // padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: white;
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(121, 126, 243, 1);
    }

    &::-webkit-scrollbar-button {
        background-color: white;
    }

    div {
        margin-bottom: 20px;
    }

    img {
        height: 16px;
        width: 16px;
        object-fit: contain;
        margin-right: 10px;
    }

    span {
        font-weight: 400;
        font-size: 18px;
    }
}

.channel {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-left: -15px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
        color: rgba(83, 90, 241, 1);
    }

    span {
        &:hover {
            font-weight: 700 !important;
        }
    }
}

.hover-stay {
    background-color: rgba(236, 238, 254, 1);
    color: rgba(83, 90, 241, 1);
}

.hover-stay-span {
    font-weight: 700 !important;
}

.new-channel {
    cursor: pointer;

    &:hover {
        filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
    }
}

.hide-message-container {
    // background-color: aqua;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    // padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow-y: scroll;
    // background-color: red;

    &::-webkit-scrollbar {
        background-color: white;
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(121, 126, 243, 1);
    }

    &::-webkit-scrollbar-button {
        background-color: white;
    }
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    border-radius: 30px;
    padding: 5px 5px;
    margin-left: -15px;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: contain;
        border-radius: 100%;
    }

    span {
        font-weight: 400;
        font-size: 18px;
        margin-right: 5px;
    }
}

.status-container {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: translate(-17px, 19px);

    div {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgba(146, 200, 62, 1);
    }
}

.newChannel-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(236, 238, 254, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.newChannel-profile-box {
    width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0px 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 0px 2px -2px rgba(0, 0, 0, 0.2);
    // font-weight: 600;
    // font-size: 22px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 140px;
    margin-right: 20px;

    input, textarea {
        width: 95%;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        margin-bottom: 30px;
        padding: 10px 20px;
        height: 20px;
        resize: none;
        font-family: 'Nunito';

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 40px !important;
    }
}

.first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    span {
        font-weight: 700;
        font-size: 24px;
    }

    div {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(236, 238, 254, 1);
        }
    }

    img {
        width: 13px;
        height: 13px;
        object-fit: contain;
        cursor: pointer;

        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.second-row {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.third-row {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.fourth-row {
    margin-bottom: 10px;

    span {
        &:first-child {
            font-weight: 700;
            font-size: 18px;
            margin-right: 8px;
        }

        &:last-child {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.btn-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

    button {
        height: 45px;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        background-color: rgba(68, 77, 242, 1);
        color: white;
        border: none;

        &:hover {
            opacity: 0.6;
        }
    }
}