<div class="sidenav-container">
    <div class="header-container">
        <img src="assets/img/workspace/logo.png">
        <span>Code learning</span>
        <div class="edit-img-container">
            <img src="assets/img/workspace/edit.png">
        </div>
    </div>

    <div class="content-container">
        <div class="channel-content">
            <div class="channel-content-left" (click)="openChannel()">
                <img class="rotate" src="assets/img/workspace/arrow.png" [class.rotate-back]="rotateChannel">
                <div class="channel-row-container">
                    <img src="assets/img/workspace/workspaces.png">
                    <div>Channels</div>
                </div>
            </div>

            <div class="add-img-container">
                <img src="assets/img/workspace/add.png">
            </div>
        </div>

        <div class="hide-channel-container" *ngIf="hideChannel">
            <div>
                <img src="assets/img/workspace/tag.png">
                <span>Channel</span>
            </div>

            <div>
                <img src="assets/img/workspace/add_circle_white.png">
                <span>Channel hinzufügen</span>
            </div>
        </div>

        <div class="direct-content" (click)="openDirectMessages()">
            <img class="rotate" src="assets/img/workspace/arrow.png" [class.rotate-back]="rotateMessage">
            <div class="direct-row-container">
                <img src="assets/img/workspace/add_circle.png">
                <div>Direktnachrichten</div>
            </div>
        </div>
    </div>
</div>