.sidenav-container {
    height: 95%;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 90px;
    // background-color: aqua;

    span {
        font-weight: 700;
        font-size: 20px;
    }
}

.edit-img-container {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;

        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.channel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;


}

.channel-content-left {
    display: flex;
    align-items: center;

    &:hover {
        filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
    }
}

.channel-row-container {
    // width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        margin-right: 10px;
    }

    div {
        font-weight: 700;
        font-size: 18px;
    }
}

.rotate {
    transform: rotate(270deg);
    margin-right: 25px;
}

.rotate-back {
    transform: rotate(0deg);
}

.add-img-container {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
        ;
    }

    img {
        &:hover {
            filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
        }
    }
}

.direct-content {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
    }
}

.direct-row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        margin-right: 10px;
    }

    div {
        font-weight: 700;
        font-size: 18px;
    }
}

.hide-channel-container {
    // background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    // padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;

    div {
        margin-bottom: 20px;
    }

    img {
        height: 16px;
        width: 16px;
        object-fit: contain;
        margin-right: 10px;
    }

    span {
        font-weight: 400;
        font-size: 18px;
    }
}

.channel {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-left: -15px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
        color: rgba(83, 90, 241, 1);
    }

    span {
        &:hover {
            font-weight: 700 !important;
        }
    }
}

.hover-stay {
    background-color: rgba(236, 238, 254, 1);
    color: rgba(83, 90, 241, 1);
}

.hover-stay-span {
    font-weight: 700 !important;
}

.new-channel {
    cursor: pointer;

    &:hover {
        filter: invert(32%) sepia(89%) saturate(954%) hue-rotate(208deg) brightness(104%) contrast(93%);
    }
}

.hide-message-container {
    // background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    // padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    border-radius: 30px;
    padding: 5px 5px;
    margin-left: -15px;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: contain;
        border-radius: 100%;
    }

    span {
        font-weight: 400;
        font-size: 18px;
        margin-right: 5px;
    }
}

.status-container {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: translate(-17px, 19px);

    div {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgba(146, 200, 62, 1);
    }
}