<div class="sidenav-container">
    <div class="header-container">
        <img src="assets/img/workspace/logo.png">
        <span>Code learning</span>
        <div class="edit-img-container">
            <img src="assets/img/workspace/edit.png">
        </div>
    </div>

    <div class="content-container">
        <div class="channel-content">
            <div class="channel-content-left" (click)="openAndCloseChannels()">
                <img class="rotate" src="assets/img/workspace/arrow.png" [class.rotate-back]="rotateChannel">
                <div class="channel-row-container">
                    <img src="assets/img/workspace/workspaces.png">
                    <div>Channels</div>
                </div>
            </div>

            <div class="add-img-container" (click)="createChannel()">
                <img src="assets/img/workspace/add.png">
            </div>
        </div>

        <div class="hide-channel-container" *ngIf="hideChannel">
            <div class="channel" (click)="openChannel()" [class.hover-stay]="hoverStay">
                <img src="assets/img/workspace/tag.png">
                <span [class.hover-stay-span]="hoverStay">Channel</span>
            </div>

            <div class="new-channel" (click)="createChannel()">
                <img src="assets/img/workspace/add_circle_white.png">
                <span>Channel hinzufügen</span>
            </div>
        </div>

        <div class="direct-content" (click)="openAndCloseDirectMessages()">
            <img class="rotate" src="assets/img/workspace/arrow.png" [class.rotate-back]="rotateMessage">
            <div class="direct-row-container">
                <img src="assets/img/workspace/add_circle.png">
                <div>Direktnachrichten</div>
            </div>
        </div>

        <div class="hide-message-container" *ngIf="hideMessage">
            <div class="contact-info-container" (click)="openDirectMessage()">
                <img src="assets/img/workspace/woman.png">
                <div class="status-container">
                    <div></div>
                </div>
                <span>Vorname Name</span>
                <span>(Du)</span>
            </div>
        </div>
    </div>
</div>


<!-- Pop-up -->
<div class="newChannel-pop-up" *ngIf="channelPopup">
    <div class="newChannel-profile-box">
        <div class="first-row">
            <span>Channel erstellen</span>
            <div><img src="assets/img/workspace/close.png" (click)="closePopup()"></div>
        </div>

        <span class="second-row">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein. <br>  #marketing zum Beispiel.</span>
        
        <span class="third-row">Channel-Name</span>
        
        <input placeholder="# z.B. Kooperationsprojekte">
        
        <div class="fourth-row">
            <span>Beschreibung</span>
            <span>(optional)</span>
        </div>
        
        <textarea></textarea>
        
        <div class="btn-row">
            <button>Erstellen</button>
        </div>
    </div>
</div>