<!-- <app-welcome-animation></app-welcome-animation> -->

<!-- <app-header></app-header> -->

<div class="header-container">
    <div class="header-img-container">
        <img src="assets/img/logo.png">
        <img src="assets/img/phrase.png">
    </div>

    <div class="header-link-container">
        <span>Neu bei MySlack?</span>
        <a href="#" (click)="openSignUp()">Konto erstellen</a>
    </div>
</div>


<app-login [class.d-none]="login"></app-login>

<app-sign-up [class.d-none]="signUp"></app-sign-up>

<app-password [class.d-none]="password"></app-password>
