
<div class="messages-container">
    <!-- first section -->
    <div class="messages-header">
        <div class="left-container" (click)="openProfilePopup()">
            <img src={{memberPic}}>
            <div class="active-container">
                <div [class.c-green]="active"></div>
            </div>
            <span>{{memberName}}</span>
        </div>

    </div>

    <!-- second section -->
    <div class="messages-display-container">
        <div *ngFor="let dm of allDirectMessagesSorted" >
            <!-- Antworten des Users -->
            <div class="message-box" *ngIf="dm.thisIsUser">
                <div class="line-date-container">
                    <div class="line"></div>
                    <div class="date-bubble" >{{dm.messageDate}}</div>
                </div>

                <div class="user-message-content-container">
                    <div class="user-message-infos-container">
                        <div class="user-first-row">
                            <span >{{dm.messageTime}}</span>
                            <span>{{userName}}</span>
                        </div>

                        <div class="user-second-row">{{dm.messageText}}</div>
                    </div>

                    <img src={{dm.messagePic}}>
                </div>
            </div>

            <!-- Antworten der Mitglieder -->
            <div class="message-box" *ngIf="!dm.thisIsUser">
                <div class="line-date-container">
                    <div class="line"></div>
                    <div class="date-bubble">{{dm.messageDate}}</div>
                </div>

                <div class="message-content-container">
                    <img src={{dm.messagePic}}>

                    <div class="message-infos-container">
                        <div class="first-row">
                            <span>{{dm.messageWriter}}</span>
                            <span>{{dm.messageTime}} Uhr</span>
                        </div>

                        <div class="second-row">{{dm.messageText}}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Info -->
    <div class="info-container">
        <div>Diese Unterhaltung findet nur zwischen <span (click)="openProfilePopup()">@{{memberName}}</span> und dir
            statt.
        </div>
    </div>

    <!-- third section -->
    <div class="third-section-container">
        <div class="send-message-container">
            <textarea placeholder="Nachricht" name="messageText" [(ngModel)]="directMessages.messageText" (keyup.enter)="createDirectMessages()"></textarea>

            <div class="like-send-container">
                <div></div>

                <img src="assets/img/workspace/send.png" (click)="createDirectMessages()">
            </div>
        </div>
    </div>


<div class="pop-up-profile" *ngIf="profilePopup">
    <div class="profile-box">
        <div class="profile-first-row">
            <span>Profil</span>
            <div (click)="closeProfilePopup()"><img src="assets/img/workspace/close.png"></div>
        </div>

        <div class="profile-second-row">
            <img src={{memberPic}}>
        </div>

        <div class="profile-third-row">
            <span>{{memberName}}</span>
            <!-- <span>Bearbeiten</span> -->
        </div>

        <div class="profile-fourth-row">
            <div [class.c-green]="active"></div>
            <span>{{memberStatus}}</span>
        </div>

        <div class="profile-fith-row">
            <img src="assets/img/workspace/mail.png">
            <span>E-Mail-Adresse</span>
        </div>

        <div class="profile-sixth-row">
            <span>{{memberMail}}</span>
        </div>
    </div>
</div>