<div class="messages-container">
    <!-- first section -->
    <div class="messages-header">
        <div class="left-container" (click)="openProfilePopup()">
            <img src="assets/img/workspace/character.png">
            <div class="active-container">
                <div></div>
            </div>
            <span>Name Vorname</span>
        </div>

    </div>

    <!-- second section -->
    <div class="messages-display-container">
        <!-- Antworten des Users -->
        <div class="message-box">
            <div class="line-date-container">
                <div class="line"></div>
                <div class="date-bubble">Montag, 01 Januar</div>
            </div>

            <div class="user-message-content-container">
                <div class="user-message-infos-container">
                    <div class="user-first-row">
                        <span>00:00 Uhr</span>
                        <span>{{userName}}</span>
                    </div>

                    <div class="user-second-row">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
                        tenetur nostrum consequuntur quibusdam porro et quae a animi?
                    </div>
                </div>

                <img src="assets/img/workspace/character.png">
            </div>
        </div>

        <!-- Antworten der Mitglieder -->
        <div class="message-box">
            <div class="line-date-container">
                <div class="line"></div>
                <div class="date-bubble">Montag, 01 Januar</div>
            </div>

            <div class="message-content-container" [class.bg-lilac]="mouseOvered" (mouseover)="mouseOvered=true"
            (mouseout)="mouseOvered=false">
                <img src="assets/img/workspace/character.png">

                <div class="message-infos-container">
                    <div class="first-row">
                        <span>Name Nachname</span>
                        <span>00:00 Uhr</span>
                    </div>

                    <div class="second-row" [class.bg-white]="mouseOvered">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Minima tenetur nostrum consequuntur quibusdam porro et quae a animi? Fugiat
                        totam aspernatur voluptas adipisci pariatur, dignissimos rerum voluptatem cum non earum.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Info -->
    <div class="info-container">
        <div>Diese Unterhaltung findet nur zwischen <span (click)="openProfilePopup()">@Vorname Nachname</span> und dir statt.</div>
    </div>

    <!-- third section -->
    <div class="send-message-container">
        <!-- Placeholder soll namen des Channels tragen -->
        <textarea placeholder="Nachricht"></textarea>

        <div class="like-send-container">
            <div></div>

            <img src="assets/img/workspace/send.png">
        </div>
    </div>
</div>

<div class="pop-up-profile" *ngIf="profilePopup">
    <div class="profile-box">
        <div class="profile-first-row">
            <span>Profil</span>
            <div (click)="closeProfilePopup()"><img src="assets/img/workspace/close.png"></div>
        </div>

        <div class="profile-second-row">
            <img src="assets/img/workspace/character.png">
        </div>

        <div class="profile-third-row">
            <span>Vorname Name</span>
            <span>Bearbeiten</span>
        </div>

        <div class="profile-fourth-row">
            <div></div>
            <span>Status</span>
        </div>

        <div class="profile-fith-row">
            <img src="assets/img/workspace/mail.png">
            <span>E-Mail-Adresse</span>
        </div>

        <div class="profile-sixth-row">
            <span>email@beispiel.com</span>
        </div>
    </div>
</div>